clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
diffusers==0.31.0
easyocr==1.7.2
huggingface-hub==0.26.1
python-Levenshtein==0.26.1
numpy==1.26.4
pandas==2.2.2
pillow==10.2.0
scikit-learn==1.5.2
scipy==1.13.1
torch==2.4.1+cu124
torch-fidelity==0.3.0
torchmetrics==1.6.1
torchvision==0.19.1+cu124
tqdm==4.66.2
transformers==4.45.2
triton==3.0.0